go 1.24.4

use (
	./contracts/ai-provider/0.1.0
	./contracts/clie/0.1.0
	./contracts/container-runtime/0.1.0
	./contracts/core/0.1.0
	./contracts/docs/0.1.0
	./contracts/runner/0.1.0
	./contracts/scanner/0.1.0
	./contracts/tui/0.1.0
	./go/adapters/ai
	./go/adapters/behave
	./go/adapters/cucumber
	./go/adapters/docker
	./go/adapters/dotnet
	./go/adapters/eac
	./go/adapters/gh
	./go/adapters/godog
	./go/adapters/gotest
	./go/adapters/mocha
	./go/adapters/npm
	./go/adapters/nuget
	./go/adapters/pip
	./go/adapters/pytest
	./go/adapters/reqnroll
	./go/adapters/tui
	./go/cli/clie
	./go/cli/eac
	./go/clibase
	./go/commands/base
	./go/commands/build
	./go/commands/lint
	./go/commands/repository
	./go/commands/scan
	./go/commands/test
	./go/commands/update
	./go/core
	./go/mcp/commands
	./go/specs/repository
)
