go 1.24.4

use (
	./contracts
	./contracts/ai-adapter/0.1.0/interfaces
	./contracts/core/0.1.0/interfaces
	./contracts/docker-adapter/0.1.0/interfaces
	./contracts/security/0.1.0/interfaces
	./contracts/testing/0.1.0/interfaces
	./contracts/tools/0.1.0/interfaces
	./contracts/tui-adapter/0.1.0/interfaces
	./go/adapters/ai
	./go/adapters/docker
	./go/adapters/tui
	./go/cli/eac
	./go/cli/r2r
	./go/clibase
	./go/core
	./go/godog
	./go/mcp/commands
	./go/specs/implicit-cli
	./go/specs/r2r-installer
	./go/specs/repository
)
